SUPABASE_PROJECT_ID="irmumfwcshylhojwpuam"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_6CywXfZfmDEEyWj7LzDFWw_JKeFzgeV"
SUPABASE_URL="https://irmumfwcshylhojwpuam.supabase.co"
VITE_SUPABASE_PROJECT_ID="irmumfwcshylhojwpuam"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_6CywXfZfmDEEyWj7LzDFWw_JKeFzgeV"
VITE_SUPABASE_URL="https://irmumfwcshylhojwpuam.supabase.co"
